<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramientas Sensoriales Adaptadas - TEACARE</title>
    <link rel="stylesheet" href="styles_education.css">
</head>
<body>
  <header class="site-header">
    <nav>
      <ul>
	<li><a href="index.html" class="header-link">TEACARE</a></li>
	<li><a href="about_us.html" class="header-link">Sobre nosotros</a></li>
	<li><a href="education.html" class="header-link">Educación en casa</a></li>
	<li><a href="crisis.html" class="header-link">Ayuda para la crisis</a></li>
	<li><a href="resources.html" class="header-link">Recursos educativos</a></li>
	<li><a href="contact_us.html" class="header-link">Contáctanos</a></li>
	<li><a href="login.html" class="header-link">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </header>

  <main>
        <section class="info-section">
            <div class="info-content">
                <h1>Comunicación Efectiva y Empática</h1>
                <p>En situaciones de crisis, la comunicación se vuelve esencial. Es crucial no solo escuchar activamente, sino también
responder con empatía y comprensión. La persona en crisis necesita saber que está siendo escuchada, que sus
sentimientos son validados y que no está sola en este momento. A menudo, las personas no buscan soluciones
inmediatas, sino simplemente un espacio seguro donde puedan expresar sus emociones sin temor a ser juzgadas. 
Como apoyo, es esencial evitar interrupciones o intentos prematuros de ofrecer soluciones. En lugar de eso, hagamos 
preguntas abiertas que inviten a la persona a compartir más, y reconozcamos sus sentimientos con respuestas 
empáticas como "Debe ser realmente duro para ti" o "Estoy aquí para ti".</p>
            </div>
            <div class="info-image">
                <img src="images/crisis1.png" alt="Herramientas Sensoriales">
            </div>
        </section>
        
        <section class="info-section reversed">
            <div class="info-content">
                <h1>Proporcionar Herramientas Personalizadas de Autorregulación</h1>
                <p>La base del éxito en el estudio en casa es establecer un espacio dedicado, tranquilo, y libre de distracciones.
Este espacio debe ser consistente, es decir, que cada vez que el niño se siente a estudiar, sepa que ese es su lugar
 de aprendizaje. Las luces suaves, los colores neutros y la minimización del ruido pueden ser beneficiosos. 
Además, es útil incorporar elementos que sean de interés para el niño, lo que puede hacer que se sienta más
atraído y comprometido con el área de estudio. Las herramientas visuales, como las tarjetas de imágenes y
los horarios visuales, son esenciales ya que pueden proporcionar una estructura clara y predecible al día, 
lo que es especialmente útil para los niños con autismo que suelen prosperar con rutinas. 
Es vital recordar que la clave está en adaptar el entorno según las preferencias y necesidades 
específicas del niño. Lo que funciona para un niño puede no ser adecuado para otro, 
por lo que la flexibilidad y la observación constante son cruciales para hacer los ajustes necesarios.</p>
            </div>
            <div class="info-image">
                <img src="images/crisis2.png" alt="Entorno de Aprendizaje">
            </div>
        </section>
        
    </main>

    <footer>
    </footer>
</body>
</html>


