<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramientas Sensoriales Adaptadas - TEACARE</title>
    <link rel="stylesheet" href="styles_education.css">
</head>
<body>
  <header class="site-header">
    <nav>
      <ul>
	<li><a href="#" class="header-link">TEACARE</a></li>
	<li><a href="about_us.html" class="header-link">Sobre nosotros</a></li>
	<li><a href="#education" class="header-link">Educación en casa</a></li>
	<li><a href="#crisis" class="header-link">Ayuda para la crisis</a></li>
	<li><a href="#resources" class="header-link">Recursos educativos</a></li>
	<li><a href="#contact" class="header-link">Contáctanos</a></li>
	<li><a href="#login" class="header-link">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </header>

  <main>
        <section class="info-section">
            <div class="info-content">
                <h1>Herramientas Sensoriales Adaptadas</h1>
                <p>Invertir en herramientas sensoriales puede ser una excelente manera de mejorar la experiencia de estudio. 
Algunos niños pueden beneficiarse de cojines de asiento texturizados, que ofrecen una entrada táctil suave 
mientras están sentados. Otros pueden encontrar útiles los juguetes de apretar o masticar, que proporcionan una 
forma de auto-regulación durante los momentos de estrés o sobrecarga. Es igualmente importante estar atento a 
los estímulos que podrían ser molestos para el niño. Por ejemplo, la luz directa o el ruido ambiental pueden ser
distracciones significativas. Considera el uso de lámparas con luz suave o auriculares con cancelación de ruido para
crear un ambiente más cómodo.</p>
            </div>
            <div class="info-image">
                <img src="images/education1.png" alt="Herramientas Sensoriales">
            </div>
        </section>
        
        <section class="info-section reversed">
            <div class="info-content">
                <h1>Crear un Entorno de Aprendizaje Personalizado</h1>
                <p>La base del éxito en el estudio en casa es establecer un espacio dedicado, tranquilo, y libre de distracciones.
Este espacio debe ser consistente, es decir, que cada vez que el niño se siente a estudiar, sepa que ese es su lugar
 de aprendizaje. Las luces suaves, los colores neutros y la minimización del ruido pueden ser beneficiosos. 
Además, es útil incorporar elementos que sean de interés para el niño, lo que puede hacer que se sienta más
atraído y comprometido con el área de estudio. Las herramientas visuales, como las tarjetas de imágenes y
los horarios visuales, son esenciales ya que pueden proporcionar una estructura clara y predecible al día, 
lo que es especialmente útil para los niños con autismo que suelen prosperar con rutinas. 
Es vital recordar que la clave está en adaptar el entorno según las preferencias y necesidades 
específicas del niño. Lo que funciona para un niño puede no ser adecuado para otro, 
por lo que la flexibilidad y la observación constante son cruciales para hacer los ajustes necesarios.</p>
            </div>
            <div class="info-image">
                <img src="images/education2.png" alt="Entorno de Aprendizaje">
            </div>
        </section>
        
    </main>

    <footer>
    </footer>
</body>
</html>

