<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEACARE - Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="site-header">
        <nav>
            <ul>
                <li><a href="index.html" class="header-link">TEACARE</a></li>
                <li><a href="about_us.html" class="header-link">Sobre nosotros</a></li>
                <li><a href="education.html" class="header-link">Educación en casa</a></li>
                <li><a href="crisis.html" class="header-link">Ayuda para la crisis</a></li>
                <li><a href="resources" class="header-link">Recursos educativos</a></li>
                <li><a href="contact.html" class="header-link">Contáctanos</a></li>
                <li><a href="login.html" class="header-link">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
    </main>
    
    <footer>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>

